.mdc-image-list__image {
    position: relative;
    padding-top: 6vh;
    height: 85vh !important;
}

#imageList {
    height: 90vh;
}

#cardList {
    position: relative;
    margin-top: 2vh;
}

.my-card-content {
    padding: 16px;
}

textarea {
    width: 400px;
    height: 100px;
    max-height: 200px;
    font-family: 'Inter Regular', sans-serif;
    line-height: 1.5em;
    background-color: #ffffff;
}

.pieInput {
    display: flex;
    flex-direction: column;
}

@media (max-width:500px) {
    textarea {
        width: 250px;
        height: 150px;
    }
}

// .my-card {

//     height: 250px !important;
//     width: 150px !important;
// }
@media (min-width: 1000px) {

    .mdc-layout-grid__cell,
    .mdc-layout-grid__cell--span-6 {
        padding: 50px;
    }
}

.mdc-card__media-content {
    font-family: 'Inter Regular', sans-serif;
    line-height: 1.8em;
    background-color: #ffffff;
    padding-top: 40px !important;
    padding-right: 15px !important;
    padding-bottom: 40px !important;
    padding-left: 15px !important;
    box-shadow: 12px 12px 40px 0px rgba(26, 59, 221, 0.1);
}

.mdc-card {
    display: flex;
    box-shadow: 12px 12px 40px 0px rgba(26, 59, 221, 0.1);

    .demo-card__primary {
        display: flex;
        align-content: flex-end;
        margin-top: 2vh;
    }
}

.mdc-typography--subtitle2 {
    font-family: 'Inter SemiBold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #031d5b !important;
    line-height: 1.8em;
}

.mdc-top-app-bar {
    width: 99%;
    background: white;
    box-shadow: 12px 12px 40px 0px rgba(26, 59, 221, 0.1);
}

.mdc-top-app-bar__title {
    font-family: 'Inter SemiBold', sans-serif;
    color: #031d5b !important;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    // position: relative;
    // z-index: 999999;
    // padding-top: 8vh;
}

// .mat-mini-fab.mat-button-base {
//     position: fixed;
//     bottom: 1vh;
//     right: 10px;
// }